<!doctype html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>
        
        <section th:replace="~{consultas/fragmentos :: consultas}"/>
        <section th:replace="~{consultas/fragmentos :: tarjetas}"/>
        
        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
