<!-- fragmento 1 para Agregar producto en ventana modal -->
<section th:fragment="agregar">
    <!-- Button trigger modal -->
    <div class='row py-4 mb-2 bg-light'>
        <div class='col-md-1'></div>
        <div class='col-md-3'>
            <button type="button" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')"
                    data-bs-toggle="modal" data-bs-target="#agregarProductoModal">
                <i class="fa-solid fa-plus"></i> [[#{producto.agregar}]]</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="agregarProductoModal"  tabindex="-1" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-solid fa-layer-group"></i> [[#{producto.agregar}]]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action='@{/producto/guardar}' th:object='${producto}'
                      class='was-validated' enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class='mb-3'>
                            <label>[[#{producto.categoria}]]</label>
                            <select name="categoria.idCategoria"
                                    class="form-select" 
                                    aria-label="Default select example">                                
                                <option th:each="c : ${categorias}" 
                                        th:value="${c.idCategoria}">[[${c.descripcion}]]</option>
                            </select>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.descripcion}]]</label>
                            <input type="text" name='descripcion' class='form-control' maxlength="50" required="true"/>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.detalle}]]</label>
                            <textarea name='detalle' class='form-control' rows="3"></textarea>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.precio}]]</label>
                            <input type="number" name='precio' class='form-control' min="0" required="true"/>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.existencias}]]</label>
                            <input type="number" name='existencias' class='form-control' min="0" required="true"/>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.activo}]]</label>
                            <input type="checkbox" name='activo' class='form-check-input'/>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{producto.imagen}]]</label>
                            <input type="file" name='imagenFile' onchange='mostrarImagen(this);'
                                   class='form-control'/>
                            <img id='blah' src='#' alt='imagen de categoría' height="200"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- fragmento 2 para el listado de productos -->
<section th:fragment="listado" class="p-3">
    <div class="row p-3">
        <div class="col-md-9">
            <div class="card p-2">
                <div class="card-header"><h4>[[#{producto.listado}]]</h4></div>
                <div class="card-body">
                    <div th:if="${productos != null and !productos.empty}">
                        <table class="table table-striped table-hover">
                            <thead><tr><th>#</th>
                                    <th>[[#{producto.descripcion}]]</th>
                                    <th>[[#{producto.precio}]]</th>
                                    <th>[[#{producto.existencias}]]</th>
                                    <th>[[#{producto.total}]]</th>
                                    <th>[[#{producto.imagen}]]</th>
                                    <th>[[#{producto.categoria}]]</th>
                                    <th>[[#{producto.activo}]]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p : ${productos}">
                                    <td>[[${p.idProducto}]]</td>
                                    <td>[[${p.descripcion}]]</td>
                                    <td class="text-end">[[${#numbers.formatCurrency(p.precio)}]]</td>
                                    <td class="text-center">[[${p.existencias}]]</td>
                                    <td class="text-end">[[${#numbers.formatCurrency(p.precio*p.existencias)}]]</td>
                                    <td><img th:src="@{${p.rutaImagen}}" alt="noData" height="75"/></td>
                                    <td>[[${p.categoria.descripcion}]]</td>
                                    <td th:text="${p.activo} ? 'Activa':'Inactiva'"></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <button type="button" class="btn btn-danger"
                                                data-bs-toggle="modal" data-bs-target="#confirmModal"
                                                th:data-bs-id="${p.idProducto}"
                                                th:data-bs-descripcion="${p.descripcion}">
                                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                        </button>                                           
                                        <a th:href="@{/producto/modificar/}+${p.idProducto}" class="btn btn-warning">
                                            <i class="fas fa-pencil-alt"></i> [[#{accion.actualizar}]]
                                        </a>                                                
                                    </td>
                                </tr>
                            </tbody>
                        </table></div>
                    <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                        <span>[[#{lista.vacia}]]</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center bg-success text-white mb-3">
                <div class="card-body"><h3>[[#{producto.total}]]</h3>
                    <h4 class="fs-2"><i class="fas fa-layer-group"></i> [[${totalProductos}]]</h4>
                </div></div>
        </div>
    </div>
</section>

<!-- 3 Fragmento que se utiliza en la página modifca.html -->
<section th:fragment="editar">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="POST" th:action="@{/producto/guardar}" 
                  th:object="${producto}" class="was-validated" enctype="multipart/form-data">
                <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                <div class="row py-4 mb-4 bg-light">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]</a>
                    </div>                                
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]</button>
                    </div>
                </div>                        
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header"><h4>[[#{accion.actualizar}]]</h4></div>
                            <div class="card-body">
                                <div class='mb-3'>
                                    <label>[[#{producto.categoria}]]</label>
                                    <select name="categoria.idCategoria" th:field="*{categoria.idCategoria}"
                                            class="form-select" 
                                            aria-label="Default select example">                                
                                        <option th:each="c : ${categorias}" 
                                                th:value="${c.idCategoria}">[[${c.descripcion}]]</option>
                                    </select>
                                </div>
                                <div class='mb-3'>
                                    <label>[[#{producto.descripcion}]]</label>
                                    <input type="text" name='descripcion' th:field="*{descripcion}" class='form-control' maxlength="50" required="true"/>
                                </div>
                                <div class='mb-3'>
                                    <label>[[#{producto.detalle}]]</label>
                                    <textarea name='detalle' th:field="*{detalle}" class='form-control' rows="3"></textarea>
                                </div>
                                <div class='mb-3'>
                                    <label>[[#{producto.precio}]]</label>
                                    <input type="number" name='precio' th:field="*{precio}" class='form-control' min="0" required="true"/>
                                </div>
                                <div class='mb-3'>
                                    <label>[[#{producto.existencias}]]</label>
                                    <input type="number" name='existencias' th:field="*{existencias}" class='form-control' min="0" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{producto.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" 
                                           name="activo" id="activo" th:field="*{activo}"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{producto.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile"
                                           onchange="mostrarImagen(this);" />
                                    <img id="blah" th:src="@{${producto.rutaImagen}}" alt="your image" height="200"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- 4 fragmento que se utiliza para confirmar que se desea eliminar una producto -->
<section th:fragment="confirmarEliminar">
    <div class="modal fade" 
         id="confirmModal" 
         tabindex="-1" 
         aria-labelledby="modalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-animation">
            <div class="modal-content animate-slide-up">
                <form th:action="@{/producto/eliminar}" th:object="${producto}" method="post">
                    <input type="hidden" name="idProducto" id="modalId"/>
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="modalLabel">
                            <i class="fa-solid fa-circle-radiation"></i> [[#{accion.confirmar}]]
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{accion.confirmar.texto1}]] <span id="modalDescripcion"></span>?</p>
                        <h6>[[#{accion.confirmar.texto2}]]</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
