<!DOCTYPE html>
<!-- Esto es un comentario...  -->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
       <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <aside>
            <h1>Multimedia</h1>
            <p>Incorporación de recursos multimedia en el sitio web...</p>
        </aside>
        <section>
            <h2>Uso de Multimedia</h2>
            <article>
                <h3>Música Celta</h3>
                <audio controls>
                    <source src="/audios/musica.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
            <article>
                <h3>Película de Acción</h3>
                <video width="320" height="240" controls>
                    <source src="/videos/torpedo.mp4" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
